# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# Ignore the config.js file.
config.js
majorAirports.json
torontoNeighborhoods.json
torontoroutes.json
Earthquakes_past7days/
Mapping_GeoJSON_Linestrings/
Mapping_GeoJSON_Points/
Mapping_GeoJSON_Polygons/
Mapping_Lines/
Mapping_Multiple_Points/
Mapping_single_Points/
Simple_Leaflet_Map/

#VS CODE
.vscode

#DS_store
.DS_Store

# Files
logicStep1.js
logicStep2.js
logicStep3.js
logicStep4.js
logicStep5.js
cities.js

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
